@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.65);
  color: white;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;

  padding: 2rem 2rem;

  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.logo {
  font-weight: 400;
  font-size: 1.25rem;
  font-family: 'Orbitron',
    sans-serif;
  /* font-family: 'Faster One',
    cursive; */
  letter-spacing: 2px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1rem;
  display: none;
}

.nav-link {
  color: #fff;
  font-family: 'Dosis',
    sans-serif;
  font-size: 1.15rem;
}

.nav-link:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  font-size: 15px;
  transition: all ease-out 0.5s;

  /* transition-timing-function: ease-in;
  transition: all 3s; */
}

.bars {
  display: block;
}

@media screen and (min-width: 576px) {}

/* Medium devices (tablets) */

@media (min-width: 768px) {}

/* Large devices (desktops) */

@media (min-width: 991px) {
  .bars {
    display: none;
  }

  .nav-links {
    display: flex;
  }

  header {
    padding: 1rem 8rem;
  }

  .nav-links {
    gap: 2rem;
  }
}

/* Extra large devices (large desktops) */

@media (min-width: 1200px) {}