.skills {
  background-color: #2d3436;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 3rem;
  color: var(--white);
  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.img-container {
  display: flex;
  gap: 2rem;
  flex-direction: row;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;
}
.img {
  width: 5rem;
  aspect-ratio: 4/3;
  object-fit: contain;
}
.img:hover {
  transform: scale(1.1);
  transition: all ease-in 0.3s;
}
@media screen and (min-width: 576px) {
}

/* Medium devices (tablets) */

@media (min-width: 768px) {
}

/* Large devices (desktops) */

@media (min-width: 991px) {
  .img {
    width: 8rem;
  }
}

/* Extra large devices (large desktops) */

@media (min-width: 1200px) {
}
